/* BASICS */

.CodeMirror {
	/* Set height, width, borders, and global font properties here */
	font-family: monospace;
	color: black;
	direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
	padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
	padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
	background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
	border-right: 1px solid #ddd;
	background-color: #f7f7f7;
	white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
	padding: 0 3px 0 5px;
	min-width: 20px;
	text-align: right;
	color: #999;
	white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
	border-left: 1px solid black;
	border-right: none;
	width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
	border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
	width: auto;
	border: 0 !important;
	background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
	z-index: 1;
}
.cm-fat-cursor-mark {
	background-color: rgba(20, 255, 20, 0.5);
	-webkit-animation: blink 1.06s steps(1) infinite;
	-moz-animation: blink 1.06s steps(1) infinite;
	animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
	width: auto;
	border: 0;
	-webkit-animation: blink 1.06s steps(1) infinite;
	-moz-animation: blink 1.06s steps(1) infinite;
	animation: blink 1.06s steps(1) infinite;
	background-color: #7e7;
}
@-moz-keyframes blink {
	0% {}
	50% { background-color: transparent; }
	100% {}
}
@-webkit-keyframes blink {
	0% {}
	50% { background-color: transparent; }
	100% {}
}
@keyframes blink {
	0% {}
	50% { background-color: transparent; }
	100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
	position: absolute;
	left: 0; right: 0; top: -50px; bottom: -20px;
	overflow: hidden;
}
.CodeMirror-ruler {
	border-left: 1px solid #ccc;
	top: 0; bottom: 0;
	position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
	position: relative;
	overflow: hidden;
	background: white;
}

.CodeMirror-scroll {
	overflow: scroll !important; /* Things will break if this is overridden */
	/* 30px is the magic margin used to hide the element's real scrollbars */
	/* See overflow: hidden in .CodeMirror */
	margin-bottom: -30px; margin-right: -30px;
	padding-bottom: 30px;
	height: 100%;
	outline: none; /* Prevent dragging from highlighting the element */
	position: relative;
}
.CodeMirror-sizer {
	position: relative;
	border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
	position: absolute;
	z-index: 6;
	display: none;
}
.CodeMirror-vscrollbar {
	right: 0; top: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}
.CodeMirror-hscrollbar {
	bottom: 0; left: 0;
	overflow-y: hidden;
	overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
	right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
	left: 0; bottom: 0;
}

.CodeMirror-gutters {
	position: absolute; left: 0; top: 0;
	min-height: 100%;
	z-index: 3;
}
.CodeMirror-gutter {
	white-space: normal;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: -30px;
}
.CodeMirror-gutter-wrapper {
	position: absolute;
	z-index: 4;
	background: none !important;
	border: none !important;
}
.CodeMirror-gutter-background {
	position: absolute;
	top: 0; bottom: 0;
	z-index: 4;
}
.CodeMirror-gutter-elt {
	position: absolute;
	cursor: default;
	z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
	cursor: text;
	min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
	/* Reset some styles that the rest of the page might have set */
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	border-width: 0;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	white-space: pre;
	word-wrap: normal;
	line-height: inherit;
	color: inherit;
	z-index: 2;
	position: relative;
	overflow: visible;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-variant-ligatures: contextual;
	font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre {
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: normal;
}

.CodeMirror-linebackground {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	z-index: 0;
}

.CodeMirror-linewidget {
	position: relative;
	z-index: 2;
	overflow: auto;
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
	outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.CodeMirror-measure {
	position: absolute;
	width: 100%;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.CodeMirror-cursor {
	position: absolute;
	pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
	visibility: hidden;
	position: relative;
	z-index: 3;
}
div.CodeMirror-dragcursors {
	visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
	visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
	background-color: #ffa;
	background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
	/* Hide the cursor when printing */
	.CodeMirror div.CodeMirror-cursors {
		visibility: hidden;
	}
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }



/*

    Name:       dracula
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)

    Original dracula color scheme by Zeno Rocha (https://github.com/zenorocha/dracula-theme)

*/


.cm-s-dracula.CodeMirror, .cm-s-dracula .CodeMirror-gutters {
	background-color: #282a36 !important;
	color: #f8f8f2 !important;
	border: none;
}
.cm-s-dracula .CodeMirror-gutters { color: #282a36; }
.cm-s-dracula .CodeMirror-cursor { border-left: solid thin #f8f8f0; }
.cm-s-dracula .CodeMirror-linenumber { color: #6D8A88; }
.cm-s-dracula .CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
.cm-s-dracula .CodeMirror-line::selection, .cm-s-dracula .CodeMirror-line > span::selection, .cm-s-dracula .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-dracula .CodeMirror-line::-moz-selection, .cm-s-dracula .CodeMirror-line > span::-moz-selection, .cm-s-dracula .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-dracula span.cm-comment { color: #6272a4; }
.cm-s-dracula span.cm-string, .cm-s-dracula span.cm-string-2 { color: #f1fa8c; }
.cm-s-dracula span.cm-number { color: #bd93f9; }
.cm-s-dracula span.cm-variable { color: #50fa7b; }
.cm-s-dracula span.cm-variable-2 { color: white; }
.cm-s-dracula span.cm-def { color: #50fa7b; }
.cm-s-dracula span.cm-operator { color: #ff79c6; }
.cm-s-dracula span.cm-keyword { color: #ff79c6; }
.cm-s-dracula span.cm-atom { color: #bd93f9; }
.cm-s-dracula span.cm-meta { color: #f8f8f2; }
.cm-s-dracula span.cm-tag { color: #ff79c6; }
.cm-s-dracula span.cm-attribute { color: #50fa7b; }
.cm-s-dracula span.cm-qualifier { color: #50fa7b; }
.cm-s-dracula span.cm-property { color: #66d9ef; }
.cm-s-dracula span.cm-builtin { color: #50fa7b; }
.cm-s-dracula span.cm-variable-3, .cm-s-dracula span.cm-type { color: #ffb86c; }

.cm-s-dracula .CodeMirror-activeline-background { background: rgba(255,255,255,0.1); }
.cm-s-dracula .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }

.CodeMirror {
	margin: 30px -30px;
	overflow: auto;
	outline: none;
	height: auto;
}
@media screen and (min-width: 960px) {
	.CodeMirror {
		margin: 30px -60px;
	}
}
.CodeMirror.cm-s-default {
	background-color: #f8f8f8;
}
.CodeMirror code {
	position: relative;
	background: inherit;
	color: inherit;
	display: block;
	padding: 10px;
	top: 0;
}
.CodeMirror code:before {
	background: #f4f1ce;
	color: rgba(0, 0, 0, 0.5);
	content: "Code";
	display: inline-block;
	font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
	font-size: 0.6rem;
	font-weight: 700;
	height: 1rem;
	left: -15px;
	letter-spacing: 0.1em;
	line-height: 1rem;
	padding: 0 0.5em;
	position: absolute;
	text-transform: uppercase;
	top: -15px;
}
/*@media screen and (min-width: 960px) {
	.CodeMirror code {
		padding: 30px 60px;
	}
}*/
.CodeMirror .language-html {
	position: relative;
}
.CodeMirror .language-html:before {
	background: #6ecd56;
	color: white;
	content: "HTML";
	display: inline-block;
	font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
	font-size: 0.6rem;
	font-weight: 700;
	height: 1rem;
	left: -15px;
	letter-spacing: 0.1em;
	line-height: 1rem;
	padding: 0 0.5em;
	position: absolute;
	text-transform: uppercase;
	top: -15px;
}
.CodeMirror .language-css {
	position: relative;
}
.CodeMirror .language-css:before {
	background: #f16529;
	color: white;
	content: "CSS";
	display: inline-block;
	font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
	font-size: 0.6rem;
	font-weight: 700;
	height: 1rem;
	left: -15px;
	letter-spacing: 0.1em;
	line-height: 1rem;
	padding: 0 0.5em;
	position: absolute;
	text-transform: uppercase;
	top: -15px;
}
.CodeMirror .language-scss {
	position: relative;
}
.CodeMirror .language-scss:before {
	background: #616db3;
	color: white;
	content: "Sass";
	display: inline-block;
	font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
	font-size: 0.6rem;
	font-weight: 700;
	height: 1rem;
	left: -15px;
	letter-spacing: 0.1em;
	line-height: 1rem;
	padding: 0 0.5em;
	position: absolute;
	text-transform: uppercase;
	top: -15px;
}
.CodeMirror .language-javascript {
	position: relative;
}
.CodeMirror .language-javascript:before {
	background: #6ecd56;
	color: white;
	content: "JavaScript";
	display: inline-block;
	font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
	font-size: 0.6rem;
	font-weight: 700;
	height: 1rem;
	left: -15px;
	letter-spacing: 0.1em;
	line-height: 1rem;
	padding: 0 0.5em;
	position: absolute;
	text-transform: uppercase;
	top: -15px;
}
.CodeMirror .language-bash {
	position: relative;
}
.CodeMirror .language-bash:before {
	background: #33a9dc;
	color: white;
	content: "CLI";
	display: inline-block;
	font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
	font-size: 0.6rem;
	font-weight: 700;
	height: 1rem;
	left: -15px;
	letter-spacing: 0.1em;
	line-height: 1rem;
	padding: 0 0.5em;
	position: absolute;
	text-transform: uppercase;
	top: -15px;
}
.CodeMirror .language-c {
	position: relative;
}
.CodeMirror .language-c:before {
	background: #33a9dc;
	color: white;
	content: "C";
	display: inline-block;
	font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
	font-size: 0.6rem;
	font-weight: 700;
	height: 1rem;
	left: -15px;
	letter-spacing: 0.1em;
	line-height: 1rem;
	padding: 0 0.5em;
	position: absolute;
	text-transform: uppercase;
	top: -15px;
}
.CodeMirror .language-java {
	position: relative;
}
.CodeMirror .language-java:before {
	background: #616db3;
	color: white;
	content: "Java";
	display: inline-block;
	font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
	font-size: 0.6rem;
	font-weight: 700;
	height: 1rem;
	left: -15px;
	letter-spacing: 0.1em;
	line-height: 1rem;
	padding: 0 0.5em;
	position: absolute;
	text-transform: uppercase;
	top: -15px;
}
.CodeMirror .language-sql {
	position: relative;
}
.CodeMirror .language-sql:before {
	background: #6ecd56;
	color: white;
	content: "SQL";
	display: inline-block;
	font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
	font-size: 0.6rem;
	font-weight: 700;
	height: 1rem;
	left: -15px;
	letter-spacing: 0.1em;
	line-height: 1rem;
	padding: 0 0.5em;
	position: absolute;
	text-transform: uppercase;
	top: -15px;
}
.CodeMirror .language-json {
	position: relative;
}
.CodeMirror .language-json:before {
	background: #f16529;
	color: white;
	content: "json";
	display: inline-block;
	font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
	font-size: 0.6rem;
	font-weight: 700;
	height: 1rem;
	left: -15px;
	letter-spacing: 0.1em;
	line-height: 1rem;
	padding: 0 0.5em;
	position: absolute;
	text-transform: uppercase;
	top: -15px;
}
.CodeMirror .language-typescript {
	position: relative;
}
.CodeMirror .language-typescript:before {
	background: #616db3;
	color: white;
	content: "typescript";
	display: inline-block;
	font-family: "Source Sans Pro", "Noto Sans KR", "Roboto", "Open Sans", Arial, sans-serif;
	font-size: 0.6rem;
	font-weight: 700;
	height: 1rem;
	left: -15px;
	letter-spacing: 0.1em;
	line-height: 1rem;
	padding: 0 0.5em;
	position: absolute;
	text-transform: uppercase;
	top: -15px;
}